.footer-top {
  background-color: $maincolor;
  color: $textcolor;
  padding-top: 33px;
  padding-bottom: 51px;
}
.footer-logo {
  display: inline-block;
  @media #{$pc} {
    margin-left: 24px;
  }
  @media #{$sp} {
    margin-left: 12px;
  }
  margin-bottom: 30px;
  img {
    height: 48px;
  }
}
@media #{$sp} {
  .footer-wrap {
    display: flex;
    justify-content: center;
  }
}
.footer-address {
  @media #{$pc} {
    display: flex;
    margin-left: 94px;
  }
  @media #{$sp} {
    display: inline-block;
  }
}
.address-area {
  @media #{$pc} {
    width: 362px;
  }
  @media #{$sp} {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
.branch {
  font-size: 16px;
  display: flex;
  align-items: baseline;
  @media #{$pc} {
    margin-right: 19px;
  }
  @media #{$sp} {
    justify-content: space-between;
  }
}
.tel {
  font-size: 26px;
  margin-left: 15px;
  padding-left: 24px;
  background: 0 4px url(/common/images/phone.png) no-repeat;
  a {
    color: $textcolor;
  }
}
.address {
  font-size: 14px;
  margin-top: 12px;
  opacity: 0.6;
  @media #{$pc} {
    float: left;
    clear: left;
  }
}
.footer-bottom {
  display: flex;
  background-color: $maincolor;
  padding-top: 20px;
  padding-bottom: 28px;
  border-top: 1px solid rgba(255,255,255,0.1);
  @media #{$pc} {
    justify-content: space-between;
    align-items: center;
  }
  @media #{$sp} {
    flex-direction: column;
  }
}
.footer-nav {
  font-size: 15px;
  display: flex;
  @media #{$pc} {
    margin-left: 88px;
  }
  @media #{$sp} {
    flex-direction: column;
  }
  li {
    @media #{$pc} {
      margin-right: 36px;
    }
    @media #{$sp} {
      margin-bottom: 18px;
      text-align: center;
    }
    a {
    color: $textcolor;
    }
  }
}
.footer-copyright {
  letter-spacing: 1.4px;
  opacity: 0.25;
  color: $textcolor;
  @media #{$pc} {
    font-size: 14px;
    margin-right: 5.5vw;
  }
  @media #{$sp} {
    font-size: 12px;
    margin: 0 12px;
  }
}